PORT=6000
DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=public"
JWT_SECRET="your-secret-key"
JWT_EXPIRES_IN="7d"
API_PREFIX="api/v1"

REDIS_URL="redis://localhost:6379"
TICKET_EMAIL_WORKER_CONCURRENCY=5

SMTP_HOST="smtp.gmail.com"
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER="mymail@example.com"
SMTP_PASS="X XXX "
MAIL_FROM="EventEase <mymail@example.com>"

STRIPE_SECRET_KEY="sk_test_xxx"
STRIPE_WEBHOOK_SECRET="whsec_xxx"
STRIPE_CHECKOUT_SUCCESS_URL="http://localhost:3000/checkout/success?session_id={CHECKOUT_SESSION_ID}"
STRIPE_CHECKOUT_CANCEL_URL="http://localhost:3000/checkout/cancel"
